/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
/config/gateway.php
.env
!/public/vendor/
.idea/
access-logs/
bin/
etc/
logs/
php/
public/.env.example
public/.gitattributes
public/.gitignore
public/.idea/
public/.user.ini
public/DNSTXT.txt
public/error_log
public/google6bf1628cb665e1d4.html
public/img/escape-logo-black.png
public/img/logo-site-3.png
public/img/logo-site-4.png
public/img/users/profile_user_3.png
public/logo-meta.png
public/php.ini
public/readme.md
ssl/
